.card-mision {
    max-width: 560px;
    margin: 2rem auto;
    padding: 2rem;
    background: #f9fafb;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    text-align: left;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s ease;
  }
  .card-mision:hover{
    transform: scale(1.05);
  }
  
  .mision-icono {
    width: 70px;
    height: 70px;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .mision-icono-svg {
    color: #fff;
    width: 33px;
    height: 33px;
  }
  
  .mision-titulo {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #003e8b;
  }
  
  .mision-texto {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #364153;
    font-family: Poppins, sans-serif;
  }