.div__informacionSede{
    padding: 20px;
    margin: 10px;
    background: #fff;
  
}

.titulo__informacionSede{
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 62, 139);
    letter-spacing: 0.05em;
}

.textopuntInformacion{
    font-family: Poppins, sans-serif;
    font-size: clamp(1rem, 3vw, 1.3rem);
    color: rgb(78, 78, 78);
}
.textopuntInfo{
    position: relative;
    left: 62px;
    top:10px;
    color: rgb(78, 78, 78);
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 700;
}


.info-linea {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .conteiconInfo {
    width: 3.2rem;
    height: 3.2rem;
    background: #fac1d4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
    position: relative;
   
    bottom: 22px;
  }