
.promo-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    max-width: 100%;
    margin: auto;
    cursor: pointer;
    height: 100%;              
    display: flex;
    flex-direction: column;    
    font-family: Poppins, sans-serif; 
  }
  

  .promo-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }

  .promo-card-image {
    position: relative;
    background: #002857;
    text-align: center;
    padding: 0;
    overflow: hidden;
  }
  
  .promo-card-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
    position: relative;
    z-index: 1;
  }
  
  .promo-card:hover .promo-card-image img {
    transform: scale(1.1);
  }
  

  .promo-card-body {
    padding: 32px 20px 20px 20px;
    text-align: left;
    flex: 1;                   
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
   
  }
  
  .promo-card-subtitle {
    display: block;
    font-family: Poppins, sans-serif;
    font-size: clamp(1.4rem, 2.6vw, 1.5rem);
    font-weight: 700;    
    color:#003e8b;
    text-transform: uppercase;

  }
  .promo-card-subtitle22 {
  
    font-family: Poppins, sans-serif;
    font-size: clamp(1.4rem, 2.6vw, 1.7rem);
    font-weight: 700;    
    color:#b8003e;
    text-transform: uppercase;
    padding-bottom: 25px;

  }
  
  .promo-card-title {
    font-size: 0.9rem;
    margin-top: 13px;
    margin-bottom: 25px;
    color: #99a1af;
    font-family: Poppins, sans-serif;
    text-decoration: line-through;
  }
  

  .promo-card-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(
      to right,
      #b8003e,
      #8a0030
    );                                
  
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 9999px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: all 0.5s ease;

    font-weight: 600;

  }
  
  .promo-card-button:hover {
    background: linear-gradient(
      to right,
      #b8003e,
      #8a0030
    );         
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25); 
    transform: scale(1.05);                          
  
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    overflow: hidden;
  }
  
  .modal-content {
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  

  .image-wrapper {
    position: relative;
    display: inline-block; 
  }
  

  .image-wrapper img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
    border-radius: 12px;
    display: block;
  }
  

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease, color 0.5s ease;
    font-weight: bold;
  }
  
  .modal-close:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  .categoriaPromocion {
   position: absolute;
   top: 10px;
   left: 10px;
   background: linear-gradient(
    to right,
    #b8003e,
    #8a0030
  ); 
   color: #fff;
   font-size: 0.75rem;
   padding: 4px 8px;
   border-radius: 15px;
   font-weight: 600;
   font-family: Poppins, sans-serif;
   z-index: 2;
  }