.footer {
    font-family: Poppins, sans-serif;
    /* border-top: 1px solid rgba(255,255,255,0.1); */
    padding-bottom: 20px;
    
  }
  .subtitulo--footer{
    color: #fffc !important;
  }
  .contenido--footer{
    background-color: #003e8b !important;
    border: none;
  }
 .a-footer,.a--footer--g {
    text-decoration: none;
    transition: color 0.5s ease !important;
  }
  .a--footer--g{
    color: #fffc;
  
    font-size: 16px;

  }

  .a--footer--g:hover {
    color: #ffffff !important;
    cursor: pointer !important;
    border-bottom: 1px solid #fff; 
  }
  .a-footer:hover {
    color: #ffffff !important;
    cursor: pointer !important;
  }
  
  .footer .social-icon-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #6b7280; */
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.3s ease;
    border-radius: 50%;
    border: none;
  }
  
  .footer .social-icon-instagram:hover {
    background: rgba(51, 51, 51, 0.15); 
    transform: scale(1.1);
    color: #fff;
    border: none;
  }
  .footer .social-icon-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #6b7280; */
    color: #fff;
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.3s ease;
  }
  
  .footer .social-icon-whatsapp:hover {
    background: #25D366;
    transform: scale(1.1);
    color: #fff;
  }
  .footer-contact li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer .list-unstyled li {
    margin-bottom: 8px; /* ajusta el valor según lo que necesites */
  }
  
  .footer .list-unstyled li:last-child {
    margin-bottom: 0; /* quita espacio al último */
  }

  .texto--footer--menu{
    font-size: 20px;
    font-weight: 700  !important;
   

  }

  .footer {
    overflow-x: hidden;
  }

  @media (max-width: 820px) {
    .footer .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .footer .social-icon-instagram,
.footer .social-icon-whatsapp {
  flex-shrink: 0;
}

.contenido--footer--g{
  margin-bottom: 50px !important;
  background: #003e8b;
}