.section-header {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {


  margin-bottom: 0.5rem;
  color:#003e8b;
  font-family: Poppins, sans-serif;
    /* font-size: 2.5rem; */
    font-weight: 700;
}

.section-titleAL {


  margin-bottom: 0.5rem;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;

}

.section-title_t {

  font-family: Good Timing, Montserrat, sans-serif;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);

}

.section-subtitle_t {
  font-family: Good Timing, Montserrat, sans-serif;
  color: #b5bbc4;
  line-height: 1.6;

}

.section-subtitle {

  color: #4a5568;
  line-height: 1.6;
  font-family: Poppins, sans-serif;
}

.section-subtitleAL {
  /* font-size: clamp(1.3rem, 2vw, 1.27rem); */
  color: #ffffff;
  line-height: 1.6;
  font-family: Good Timing, Montserrat, sans-serif;
}

.section-title_D {
  /* font-size: clamp(1.7rem, 4vw, 2.7rem); */

  font-family: Poppins, sans-serif;
  /* font-size: 2.5rem; */
  font-weight: 700;
  font-family:   Poppins, sans-serif;
  color: rgb(0, 62, 139);
  letter-spacing: 0.05em;
}

.section-subtitle_D {
  /* font-size: clamp(1.3rem, 2vw, 1.27rem); */
  color: #4a5565;
  line-height: 1.6;
  font-family: Poppins, sans-serif;
}

.section-title_E {
  /* font-size: clamp(1.7rem, 4vw, 2.7rem); */
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  font-family: Good Timing, serif;
}

.section-subtitle_E {
  /* font-size: clamp(1.3rem, 2vw, 1.27rem); */
  color: #dadada;
  line-height: 1.6;
}