.HistoriaTimeline {
  width: 100%;
  padding: 80px 0;
}

.HistoriaLinea {
  position: relative;
  max-width: 1100px;
  margin: auto;
}


.HistoriaLinea::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, #b8003e, #002857);
  transform: translateX(-50%);
  border-radius: 10px;
}


.HistoriaItem {
  position: relative;
  width: 50%;
  padding: 40px 60px;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;

}

.HistoriaLeft {
  left: 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.HistoriaRight {
  left: 50%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}


.HistoriaCard {
  background: #ffffff;
  border-radius: 16px;
  padding: 28px 30px;
  max-width: 420px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}
.HistoriaCard:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.HistoriaAnno {
  display: inline-flex;
  align-items: center;
  gap: 8px;

}

.HistoriaIcono {
  font-size: 2rem;
  font-weight: 700;
  color: #b8003e;
  margin-bottom: 10px;
}


.HistoriaTitulo {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #003e8b;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.HistoriaDetalle {
  font-size: 15px;
  color: #4a5565;
  line-height: 1.6;
  font-family: Poppins, sans-serif;
  font-weight: lighter;
}


.HistoriaPunto {
  position: absolute;
  top: 60px;

  width: 20px;
  height: 20px;
  background: #b8003e;
  border-radius: 50%;
  border: 3px solid #ffffff;
  z-index: 10;
}

.HistoriaLeft .HistoriaPunto {
  right: -10px;
}

.HistoriaRight .HistoriaPunto {
  left: -10px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .HistoriaLinea::before {
    left: 20px;
  }

  .HistoriaItem {
    width: 100%;
    padding: 30px 20px 30px 60px;
  }

  .HistoriaLeft,
  .HistoriaRight {
    left: 0;
    justify-content: flex-start;
    text-align: left;
  }

  .HistoriaPunto {
    left: 12px !important;
  }
}
