.detalle-card {
  background: #fff;
  border-radius: 12px;
  padding: 32px 20px;
  border: none;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.detalle-card:hover {
  transform: translateY(-8px);
  /* border-color: #d60000 ; */
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

}

/* Icono circular */
.detalle-icono {
  width: 60px;
  height: 60px;
  margin: 0 auto 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;              /* ← lo hace redondo */
  background-color: #0051b8;       /* ← azul */
  
  color: #ffffff;                  /* icono blanco */
  font-size: 36px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Título */
.detalle-titulo {

  margin-bottom: 8px;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(102, 102, 102);
}

/* Descripción */
.detalle-descripcion {
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(0, 62, 139);
  margin: 0;
}

.detalle-card {
  cursor: pointer;
  transition: all 0.3s ease;
}

.detalle-card.activa {
  background-color: #002857;
}

.detalle-card.activa .detalle-titulo,
.detalle-card.activa .icono {
  color: #ffffff;
}